@model chdemo.member

@{
    ViewBag.Title = "Login";
}


<div style="font-size: 15px;background-color: transparent;border-radius:10px;padding:5px">
        <h1 style="color:white">登入</h1>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4 style="color:white">會員帳號</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div style="background-color:white;opacity:0.7;border-radius:10px">
            <div class="form-group">
                @Html.LabelFor(model => model.Account, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Account, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Account, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="登入" style="border-radius:10px; background-color:transparent;font-size:large;font-weight:bolder" />
                </div>
            </div>
        </div>


        
    </div>
}

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
    </div>



