<!DOCTYPE html>
<html>

@model IEnumerable<parameter>
@{
    ViewBag.Title = "工業4.智慧環保預測系統";
}
<div style="font-size: 15px;background-color: transparent;border-radius:20px;padding:25px">
    <h1 style="color:white">建議參數</h1>

    <body onload="startTime()">
        <br />
        <p id="time" style="color:white"></p>
        <script>
            function startTime() {
                var today = new Date();
                var y = today.getFullYear();
                var mon = today.getMonth();
                var d = today.getDate();
                var h = today.getHours();
                var m = today.getMinutes();
                var s = today.getSeconds();
                var month = mon + 1;

                m = checkTime(m);
                s = checkTime(s);
                document.getElementById('time').innerHTML =
                    y + "/" + month + "/" + d + " " + h + ":" + m + ":" + s;
                var t = setTimeout(startTime, 500);
            }
            function checkTime(i) {
                if (i < 10) { i = "0" + i };  // add zero in front of numbers < 10
                return i;
            }
        </script>
    </body>
</div>
</br>

<div class="jumbotron" style="font-size: 15px">
    <table class="table">
        <thead>
            <tr>
                <th>
                   
                    @*@Html.DisplayNameFor(model => model.Counter)*@
                    @Html.DisplayName("編號")
                </th>

                @*<th>
                        @Html.DisplayNameFor(model => model.Angle)
                    </th>*@

                <th>
                    @*@Html.DisplayNameFor(model => model.Oxygen)*@
                    @Html.DisplayName("蒸汽鍋爐廢氣含氧濃度")
                </th>

                @*<th>
                        @Html.DisplayNameFor(model => model.Conveyor_Speed)
                    </th>*@

                <th>
                    @*@Html.DisplayNameFor(model => model.Water)*@
                    @Html.DisplayName("補水即時補水量(m3/h)")
                </th>

                <th>
                    @*@Html.DisplayNameFor(model => model.InducedDraftFan_Speed)*@
                    @Html.DisplayName("蒸汽引風機轉速(rpm)")
                </th>

                <th>
                    @*@Html.DisplayNameFor(model => model.Blower_Speed)*@
                    @Html.DisplayName("蒸汽鼓風機轉速(rpm)")
                </th>

                <th>
                    @*@Html.DisplayNameFor(model => model.Grate_Speed)*@
                    @Html.DisplayName("蒸汽爐排轉速(rpm)")
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelitem => item.Counter)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelitem => item.Angle)
                        </td>*@

                    <td>
                        @Html.DisplayFor(modelitem => item.Oxygen)
                    </td>

                    @*<td>
                            @Html.DisplayFor(modelitem => item.Conveyor_Speed)
                        </td>*@

                    <td>
                        @Html.DisplayFor(modelitem => item.Water)
                    </td>

                    <td>
                        @Html.DisplayFor(modelitem => item.InducedDraftFan_Speed)
                    </td>

                    <td>
                        @Html.DisplayFor(modelitem => item.Blower_Speed)
                    </td>

                    <td>
                        @Html.DisplayFor(modelitem => item.Grate_Speed)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
</html>
